.comment-text {
    margin-left: 50px !important;
}

.users-status-list .active {
    border-top: 3px solid #3c8dbc;
    border-radius: 3px;
}

.users-status-list .active a {
    color: #3c8dbc;
}

.users-status-list li {
    text-align: center;
    cursor: pointer;
}

.users-status-list li a {
    color: black;
}

textarea {
    overflow-y: auto;
    font-weight: normal;
    font-size: 14px;
    overflow-x: hidden;
    word-break: break-all;
    font-style: normal;
    outline: none;
    padding: 5px;
    border: none;
    height: 100px;
    width: 100%;
}

#facebox {
    padding: 5px;
    background-color: #fff;
    border: 1px solid #bfbfbf;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.176);
}

.image-label {
    font-size: 20px;
    cursor: pointer;
    color: #97a0b3;
    vertical-align: text-bottom;
    padding: 0;
    margin: 0
}

.face {
    font-size: 20px;
    vertical-align: text-bottom;
    padding: 0;
    margin: 0;
    margin-left: 5px
}

textarea::-webkit-input-placeholder {
    color: #e6e6e6;
}

textarea::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #e6e6e6;
}

textarea:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #e6e6e6;
}

textarea:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #e6e6e6;
}

.labFace {
    cursor: pointer;
}

.direct-chat-msg .direct-chat-timestamp {
    float: right;
}

.right .direct-chat-timestamp {
    float: left !important;
}

.right .direct-chat-name {
    float: right !important;
}

.direct-chat-text {
    display: inline-block;
    margin: 5px 0 0 5px;
}

.direct-chat-primary .right > .direct-chat-text {
    margin-right: 5px;
    text-align: right;
    float: right;
}

.shade, .screen {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    background-color: #000;
    opacity: 0.1;
    filter: alpha(opacity=10);
    cursor: not-allowed;
}

.editor {
    position: relative;
}

.box-comment {
    cursor: pointer;
}

.box-comment:hover {
    background: #e6e6e6;
}

.box-footer {
    padding: 0px;
}

.box-comment {
    padding: 10px !important;
}

.box-comments .active {
    background: #c2c2c2 !important;
}

.editor {
    padding: 10px;
}

.box-comments .img-circle, .direct-chat-msg .direct-chat-img {
    cursor: pointer;
    border-radius: 100%;
    vertical-align: middle;
    background: #FFF;
    -webkit-transition: -webkit-transform 600ms;
    -moz-transition: -moz-transform 600ms;
    transition: transform 600ms;
}

.box-comments .img-circle:hover, .direct-chat-msg .direct-chat-img:hover {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    transform: rotate(360deg);
}

.fastReply-box span {
    display: inline-block;
    height: 30px;
    background: #0e9e21;
    border-radius: 5px;
    padding: 0 10px 0 10px;
    line-height: 32px;
    color: white;
    margin-right: 10px;
    margin-bottom: 10px;
    cursor: pointer;
    font-family: "Helvetica Neue", Helvetica, "Microsoft Yahei", Arial, sans-serif;
    font-weight: 300;
}

.addReplyForm {
    padding: 20px;
}

.addReplyForm div:first-child {
    margin-bottom: 20px;
}

.addReplyForm #reply_title {
    width: 320px;
    height: 38px;
    border: 1px solid #e6e6e6;
    padding-left: 10px;
    vertical-align: middle;
    border-radius: 2px;
}

.addReplyForm textarea {
    padding-left: 10px;
    border: 1px solid #e6e6e6;
    display: inline-block;
    width: 320px;
    height: 110px;
    border-radius: 2px;
}

.addReplyForm label {
    padding: 5px 10px 0 0;
    font-weight: 500;
}

.save_reply {
    margin-right: 20px;
}

